div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
footer {
	width: 100%;
  display: flex;
  padding: 2px;
  background: linear-gradient(to bottom right, #b8a399, #fff8e7);
  justify-content: center;
}

.btn {
	cursor: pointer;
  margin: 5px 5px;
  width: 60%;
  height: 60%;
}

p {
 color: navy;
 text-align: center;
 font-family: verdana;
 font-size: 15px;
 height: 100%;
}
     
body{
    margin: 0px;
    padding: 0px;
    background: red;
    font-family: 'Roboto';
    font-size: 12pt;
}
    
p, ol, ul{
    margin-top: 0;
}
 
p {
    line-height: 180%;
}
 
ol, ul{
    padding: 0;
    list-style: none;
}
     
.container{   
 
    margin: 0px auto;
    width: 1000px;
}

header{
     
    overflow: hidden;
}
#logo{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}
 

#menu{
    float:right;
    width: 70%;
    height: 100%;
    margin: none;
}

     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
 

     
#menu li:hover a, #menu li span{
    background: #242124;
    text-color:lime;
    text-decoration: none;
    opacity: 0.8;
    transform: translateY(3px);
    transition: 2s;
    
}

header{
     
    overflow: hidden;
}
 
#top-header{
    text-color:lime;     
    text-align: center;
    height: 60px;
}

 
#menu{
    float: right;
    width: 65%;
    height: 100%;
    margin: none;

}
     
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: black;
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{
         
    color: White;
}
     
#menu li:hover a, #menu li span{
    color: lime;
    border-right: 0.001px solid lime;
    border-left: 0.001px solid lime;
    border-top: 0.001px solid lime;
    border-bottom: 0.001px solid lime;
    text-decoration: none;
}

#search2 {
   float: left;
   padding:11px;
   border:none;
   margin-top: 3px;
   margin-left:-40px;
   font-size: 17px;
   position: relative;
   left: 160px;
}


height: 100%;
}
     
body{
    margin: 0px;
    padding: 0px;
    background: red;
    font-family: 'Roboto';
    font-size: 12pt;
}
    
p, ol, ul{
    margin-top: 0;
}
 
p {
    line-height: 180%;
}
 
ol, ul{
    padding: 0;
    list-style: none;
}
     
.container{   
 
    margin: 0px auto;
    width: 1000px;
}

header{
     
    overflow: hidden;
}
#logo{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}
 

#menu{
    float:right;
    width: 70%;
    height: 100%;
    margin: none;
}

     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
 

     
#menu li:hover a, #menu li span{
    background: #242124;
    text-color:lime;
    text-decoration: none;
    opacity: 0.8;
    transform: translateY(3px);
    transition: 2s;
    
}

header{
     
    overflow: hidden;
}
 
#top-header{
    text-color:lime;     
    text-align: center;
    height: 60px;
}

 
#menu{
    float: right;
    width: 65%;
    height: 100%;
    margin: none;

}
     
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: black;
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{
         
    color: White;
}
     
#menu li:hover a, #menu li span{
    color: lime;
    border-right: 0.001px solid lime;
    border-left: 0.001px solid lime;
    border-top: 0.001px solid lime;
    border-bottom: 0.001px solid lime;
    text-decoration: none;
}

#search2 {
   float: left;
   padding:11px;
   border:none;
   margin-top: 3px;
   margin-left:-40px;
   font-size: 17px;
   position: relative;
   left: 160px;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
footer {
	width: 100%;
  display: flex;
  padding: 2px;
  background: linear-gradient(to bottom right, #b8a399, #fff8e7);
  justify-content: center;
}

.btn {
	cursor: pointer;
  margin: 5px 5px;
  width: 60%;
  height: 60%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
footer {
	width: 100%;
  display: flex;
  padding: 2px;
  background: linear-gradient(to bottom right, #b8a399, #fff8e7);
  justify-content: center;
}

.btn {
	cursor: pointer;
  margin: 5px 5px;
  width: 60%;
  height: 60%;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
footer {
	width: 100%;
  display: flex;
  padding: 2px;
  background: linear-gradient(to bottom right, #b8a399, #fff8e7);
  justify-content: center;
}

.btn {
	cursor: pointer;
  margin: 5px 5px;
  width: 60%;
  height: 60%;
}

p {
 color: navy;
 text-align: center;
 font-family: verdana;
 font-size: 15px;
 div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
footer {
	width: 100%;
  display: flex;
  padding: 2px;
  background: linear-gradient(to bottom right, #b8a399, #fff8e7);
  justify-content: center;
}

.btn {
	cursor: pointer;
  margin: 5px 5px;
  width: 60%;
  height: 60%;
}

p {
 color: navy;
 text-align: center;
 font-family: verdana;
 font-size: 15px;
 div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
footer {
	width: 100%;
  display: flex;
  padding: 2px;
  background: linear-gradient(to bottom right, #b8a399, #fff8e7);
  justify-content: center;
}

.btn {
	cursor: pointer;
  margin: 5px 5px;
  width: 60%;
  height: 60%;
}

p {
 color: navy;
 text-align: center;
 font-family: verdana;
 font-size: 15px;
 
 
